$white: #FFFF
$dark: #070724
$grey: #38384F
$grey-light: #838391

$mercury: #DEF4FC
$venus: #F7CC7F
$earth: #545BFE
$mars: #FF6A45
$jupiter: #ECAD7A
$saturn: #FCCB6B
$uranus: #65F0D5
$neptune: #497EFA
